h1, h2, p, ol, ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(46, 24, 126);
}

h1 {
    display: block;
    text-align: center;
}

a {
    color: rgb(0, 8, 122);
}

body {
    background-color: rgb(255, 250, 219);
}

img {
    padding: 10px;
    background-color: rgb(255, 191, 16);
    display: block;
    margin: 0 auto;
}